<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="grupoawamotos_store_setup" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\StoreSetupCommand</item>
                <item name="awa_theme_apply_defaults" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\ApplyAyoDefaultsCommand</item>
                <item name="grupoawamotos_cms_sanitize_directives" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\SanitizeCmsDirectivesCommand</item>
                <item name="grupoawamotos_cms_repair_missing_media" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\RepairCmsMissingMediaCommand</item>
                <item name="grupoawamotos_content_repair_b2b_links" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\RepairLegacyB2bLinksCommand</item>
                <item name="grupoawamotos_content_normalize_public_emails" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\NormalizePublicEmailsCommand</item>
                <item name="grupoawamotos_config_sync_transactional_emails" xsi:type="object">GrupoAwamotos\StoreSetup\Console\Command\SyncTransactionalEmailsCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Explicit DI for StoreConfigurator to prevent argument order issues -->
    <type name="GrupoAwamotos\StoreSetup\Setup\StoreConfigurator">
        <arguments>
            <argument name="themeCollectionFactory" xsi:type="object">Magento\Theme\Model\ResourceModel\Theme\CollectionFactory</argument>
            <argument name="sliderFactory" xsi:type="object">Rokanthemes\SlideBanner\Model\SliderFactory</argument>
            <argument name="slideFactory" xsi:type="object">Rokanthemes\SlideBanner\Model\SlideFactory</argument>
        </arguments>
    </type>

    <!-- Garantir handles essenciais de grids UI que estavam faltando -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- Grid de blocos CMS em Conteúdo > Blocos -->
                <item name="cms_block_listing_data_source"
                      xsi:type="string">Magento\Cms\Model\ResourceModel\Block\Grid\Collection</item>

                <!-- Grid de configuração de design em Conteúdo > Design > Configuração -->
                <item name="design_config_listing_data_source"
                      xsi:type="string">Magento\Theme\Model\ResourceModel\Design\Config\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Evita falha de DI no endpoint /graphql quando extractors opcionais não estão presentes -->
    <type name="Magento\GraphQl\Model\Backpressure\CompositeRequestTypeExtractor">
        <arguments>
            <argument name="extractors" xsi:type="array" />
        </arguments>
    </type>

    <!-- Adobe graphql/disable_introspection: recusar __schema/__type antes do schema generate() -->
    <type name="Magento\Framework\GraphQl\Query\Fields">
        <plugin name="grupoawamotos_storesetup_disable_graphql_introspection"
                type="GrupoAwamotos\StoreSetup\Plugin\DisableGraphQlIntrospectionPlugin"
                sortOrder="10"/>
    </type>
</config>
