<?xml version="1.0"?>
<!--
  GrupoAwamotos_CspFix (adminhtml scope)
  Admin require.js baseUrl patch deve rodar somente no backend.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="grupoawamotos_cspfix_admin_require_base_url"
                type="GrupoAwamotos\CspFix\Plugin\Response\AdminRequireBaseUrlPlugin"
                sortOrder="5"/>
    </type>
</config>
