<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GrupoAwamotos_MarketingIntelligence">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Customer"/>
            <module name="GrupoAwamotos_B2B"/>
            <module name="GrupoAwamotos_Theme"/>
            <module name="GrupoAwamotos_ERPIntegration"/>
            <module name="Meta_BusinessExtension"/>
            <module name="Meta_Conversion"/>
        </sequence>
    </module>
</config>
