<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GrupoAwamotos_AiAssistant" setup_version="1.0.0">
        <sequence>
            <module name="GrupoAwamotos_WhatsAppCommerce"/>
            <module name="GrupoAwamotos_B2B"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Catalog"/>
                    <module name="Magento_Sales"/>
                    <module name="GrupoAwamotos_HelpCenter"/>
                </sequence>
    </module>
</config>
