<?xml version="1.0"?>
<!--
/**
 * Default Config Values for B2B Module
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_b2b>
            <general>
                <enabled>1</enabled>
                <b2b_mode>strict</b2b_mode>
            </general>
            <price_visibility>
                <hide_price_guests>1</hide_price_guests>
                <hide_add_to_cart_guests>1</hide_add_to_cart_guests>
                <login_message><![CDATA[<a href="{{login_url}}" aria-label="Faça login para ver preços">Faça login</a>]]></login_message>
                <show_price_pending>0</show_price_pending>
                <hide_price_no_erp>1</hide_price_no_erp>
                <pending_erp_message><![CDATA[Sua tabela de preços está sendo definida. Consulte o departamento de vendas.]]></pending_erp_message>
            </price_visibility>
            <customer_approval>
                <require_approval>1</require_approval>
                <scoring_enabled>1</scoring_enabled>
                <pending_message><![CDATA[Obrigado pelo seu cadastro! Sua conta está sendo analisada e você receberá um e-mail assim que for aprovada.]]></pending_message>
                <send_approval_email>1</send_approval_email>
                <notify_admin_new_customer>1</notify_admin_new_customer>
                <admin_email>b2b.awamotos@gmail.com</admin_email>
                <link_existing_erp_on_approval>1</link_existing_erp_on_approval>
            </customer_approval>
            <minimum_qty>
                <enabled>1</enabled>
                <global_min_qty>1</global_min_qty>
                <min_order_amount>100</min_order_amount>
                <min_order_message><![CDATA[O valor mínimo do pedido é R$ {{min_amount}}]]></min_order_message>
            </minimum_qty>
            <quote_request>
                <enabled>1</enabled>
                <show_button>both</show_button>
                <allow_guests>0</allow_guests>
                <expiry_days>7</expiry_days>
                <notify_customer>1</notify_customer>
            </quote_request>
            <customer_groups>
                <wholesale_group>4</wholesale_group>
                <wholesale_discount>15</wholesale_discount>
                <vip_group>5</vip_group>
                <vip_discount>20</vip_discount>
                <default_b2b_group>4</default_b2b_group>
                <revendedor_group>6</revendedor_group>
                <pending_group>7</pending_group>
            </customer_groups>
            <finance>
                <bb_convenio_filial_2>2467742</bb_convenio_filial_2>
                <print_rate_limit_max_requests>20</print_rate_limit_max_requests>
                <print_rate_limit_window_seconds>60</print_rate_limit_window_seconds>
            </finance>
            <credit>
                <enabled>1</enabled>
                <default_limit>0</default_limit>
                <auto_debit>1</auto_debit>
                <allow_partial>0</allow_partial>
                <payment_title>Crédito B2B (Faturamento)</payment_title>
            </credit>
            <order_approval>
                <enabled>1</enabled>
                <threshold_manager>2000</threshold_manager>
                <threshold_finance>10000</threshold_finance>
                <threshold_director>50000</threshold_director>
                <notify_approver>1</notify_approver>
                <auto_cancel_days>7</auto_cancel_days>
            </order_approval>
            <cnpj_lookup>
                <enabled>1</enabled>
                <api_url>https://receitaws.com.br/v1/cnpj/</api_url>
                <timeout>10</timeout>
                <require_active_status>1</require_active_status>
                <allow_local_fallback>1</allow_local_fallback>
                <cache_enabled>1</cache_enabled>
                <cache_ttl>86400</cache_ttl>
                <rate_limit_enabled>1</rate_limit_enabled>
                <rate_limit_max_requests>20</rate_limit_max_requests>
                <rate_limit_window_seconds>60</rate_limit_window_seconds>
            </cnpj_lookup>
            <cnae_profiling>
                <enabled>1</enabled>
                <auto_approve_direct>0</auto_approve_direct>
                <direct_cnaes>4541-2/01,4541-2/02,4541-2/03,4541-2/04,4541-2/05,4543-9/00,3091-1/00</direct_cnaes>
                <adjacent_cnaes>4530-7/01,4530-7/02,4530-7/03,4530-7/04,4520-0/01,4520-0/06,4511-1/01,4512-9/01,4520-0/04,4520-0/05</adjacent_cnaes>
            </cnae_profiling>
            <checkout>
                <terms_enabled>1</terms_enabled>
                <terms_checkbox_text>Li e aceito os Termos de Venda B2B</terms_checkbox_text>
                <terms_content>Termos e Condicoes B2B AWA Motos</terms_content>
                <terms_warning_title>Aceite os Termos</terms_warning_title>
                <terms_warning_content>Voce precisa aceitar os Termos de Venda B2B.</terms_warning_content>
                <po_number_enabled>1</po_number_enabled>
                <po_number_required>0</po_number_required>
                <delivery_date_enabled>0</delivery_date_enabled>
                <order_notes_enabled>1</order_notes_enabled>
            </checkout>
            <commercial_task>
                <days_no_purchase>90</days_no_purchase>
                <days_quote_no_response>2</days_quote_no_response>
                <days_pending_no_contact>1</days_pending_no_contact>
                <days_new_customer_no_contact>3</days_new_customer_no_contact>
            </commercial_task>

            <sectra_sync>
                <cancel_stuck_dry_run>0</cancel_stuck_dry_run>
            </sectra_sync>

            <platform>
                <design_system_enabled>0</design_system_enabled>
                <unified_menu_enabled>0</unified_menu_enabled>
                <legacy_menu_visible>1</legacy_menu_visible>
                <legacy_menu_badge>0</legacy_menu_badge>
                <executive_dashboard_enabled>0</executive_dashboard_enabled>
            </platform>

        </grupoawamotos_b2b>
        <payment>
            <b2b_credit>
                <active>1</active>
                <model>GrupoAwamotos\B2B\Model\Payment\CreditPayment</model>
                <title>Crédito B2B (Faturamento)</title>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>100</sort_order>
            </b2b_credit>
        </payment>
    </default>
</config>
