<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin name="grupoawamotos_preprocessed_fallback_template_engine"
                type="GrupoAwamotos\PreprocessedFallback\Plugin\View\TemplateEngine\PhpFallbackPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Framework\View\Element\Template">
        <plugin name="grupoawamotos_preprocessed_fallback_template_fetch"
                type="GrupoAwamotos\PreprocessedFallback\Plugin\View\Element\TemplateFallbackPlugin"
                sortOrder="5"/>
    </type>

    <type name="Magento\Framework\View\Result\Page">
        <plugin name="grupoawamotos_preprocessed_fallback_page_result"
                type="GrupoAwamotos\PreprocessedFallback\Plugin\View\Result\PageFallbackPlugin"
                sortOrder="10"/>
    </type>
</config>
