<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <slidebanner_folder>slidebanner</slidebanner_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
        <grupoawamotos_theme>
            <contact>
                <whatsapp_enabled>1</whatsapp_enabled>
                <whatsapp_number>5516997367588</whatsapp_number>
                <whatsapp_message>Olá! Gostaria de informações sobre peças para moto.</whatsapp_message>
                <whatsapp_hide_checkout>1</whatsapp_hide_checkout>
                <whatsapp_hide_account>0</whatsapp_hide_account>
                <quote_fab_enabled>0</quote_fab_enabled>
                <phone>+5516997367588</phone>
                <email>awamotos@awamotos.com.br</email>
            </contact>
            <header_experiment>
                <enabled>1</enabled>
                <rollout_percentage>35</rollout_percentage>
                <variant_seed>home5_header_v1</variant_seed>
            </header_experiment>
            <footer_experiment>
                <enabled>0</enabled>
                <rollout_percentage>0</rollout_percentage>
                <variant_seed>home5_footer_v1</variant_seed>
            </footer_experiment>
            <catalogo>
                <nav_links><![CDATA[Condições Atacado|atacado/condicoes
Nossas Marcas|nossas-marcas
Lançamentos|lancamentos
Contato|contato
Cadastro B2B|route:b2b/register]]></nav_links>
                <pdf_path>awa/catalogo/catalogo-2026.pdf</pdf_path>
                <cover_path>import/catalog/banners/catalogo-2026.jpg</cover_path>
                <page_preview_path>awa/catalogo/catalogo-2026-cover.jpg</page_preview_path>
                <mobile_cover_path>import/catalog/banners/banner-mobile-catalogo-2026.jpg</mobile_cover_path>
                <home_b2b_banner_path>import/catalog/banners/home-b2b-atacado-2026.jpg</home_b2b_banner_path>
                <home_b2b_banner_mobile_path>import/catalog/banners/home-b2b-atacado-2026-mobile.jpg</home_b2b_banner_mobile_path>
            </catalogo>
        </grupoawamotos_theme>
    </default>
</config>
