<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <whatsapp_commerce>
            <general>
                <enabled>1</enabled>
                <max_products_per_response>5</max_products_per_response>
                <checkout_base_url/>
            </general>
            <notifications>
                <customer_registered>1</customer_registered>
                <order_placed>1</order_placed>
                <order_paid>1</order_paid>
                <order_shipped>1</order_shipped>
                <order_refunded>0</order_refunded>
                <notify_attendant_order_placed>1</notify_attendant_order_placed>
            </notifications>
            <app_builder_offload>
                <enabled>0</enabled>
                <webhook_url/>
                <shared_secret/>
                <timeout_seconds>3</timeout_seconds>
            </app_builder_offload>
                    <b2b>
                <alerts_enabled>0</alerts_enabled>
                <stock_alert_enabled>1</stock_alert_enabled>
                <new_product_alert_enabled>1</new_product_alert_enabled>
                <credit_reminder_enabled>1</credit_reminder_enabled>
            </b2b>
            <review_request>
                <enabled>0</enabled>
                <delay_days>7</delay_days>
            </review_request>
            <meta_description>
                <enabled>0</enabled>
                <groq_api_key/>
                <batch_size>20</batch_size>
            </meta_description>
            <retargeting>
                <enabled>0</enabled>
                <inactive_days>60</inactive_days>
                <high_value_threshold>500</high_value_threshold>
            </retargeting>
        </whatsapp_commerce>
    </default>
</config>
