<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- LGPD: Log consent changes -->
    <event name="customer_save_after">
        <observer name="whatsapp_commerce_log_consent"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\LogConsentChange"/>
    </event>

    <!-- Notify assigned attendant ("vendedora") on new customer registration -->
    <event name="customer_register_success">
        <observer name="whatsapp_commerce_customer_registered"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\CustomerRegisterNotification"/>
    </event>

    <!-- Order notifications -->
    <event name="sales_order_place_after">
        <observer name="whatsapp_commerce_order_placed"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\OrderNotification"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="whatsapp_commerce_order_paid"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\OrderNotification"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="whatsapp_commerce_order_shipped"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\OrderNotification"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="whatsapp_commerce_order_refunded"
                  instance="GrupoAwamotos\WhatsAppCommerce\Observer\OrderNotification"/>
    </event>
</config>
