<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_AiAssistant::copilot"
             title="Copiloto IA"
             module="GrupoAwamotos_AiAssistant"
             sortOrder="70"
             parent="Magento_Backend::marketing"
             action="grupoawamotos_aiassistant/copilot/index"
             resource="GrupoAwamotos_AiAssistant::admin_copilot"/>
    </menu>
</config>
