<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="GrupoAwamotos\AbandonedCart\Api\AbandonedCartRepositoryInterface"
                type="GrupoAwamotos\AbandonedCart\Model\AbandonedCartRepository"/>

    <preference for="GrupoAwamotos\AbandonedCart\Api\Data\AbandonedCartInterface"
                type="GrupoAwamotos\AbandonedCart\Model\AbandonedCart"/>

    <preference for="GrupoAwamotos\AbandonedCart\Api\EmailSenderInterface"
                type="GrupoAwamotos\AbandonedCart\Model\EmailSender"/>

    <preference for="GrupoAwamotos\AbandonedCart\Api\CouponGeneratorInterface"
                type="GrupoAwamotos\AbandonedCart\Model\CouponGenerator"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="abandonedcart_process" xsi:type="object">GrupoAwamotos\AbandonedCart\Console\Command\ProcessCommand</item>
                <item name="abandonedcart_send" xsi:type="object">GrupoAwamotos\AbandonedCart\Console\Command\SendCommand</item>
                <item name="abandonedcart_report" xsi:type="object">GrupoAwamotos\AbandonedCart\Console\Command\ReportCommand</item>
            </argument>
        </arguments>
    </type>


    <!-- WhatsApp Sender: uses SmartSuggestions WhatsApp provider -->
    <type name="GrupoAwamotos\AbandonedCart\Model\WhatsAppSender">
        <arguments>
            <argument name="logger" xsi:type="object">GrupoAwamotos\AbandonedCart\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- Logger dedicado para AbandonedCart -->
    <virtualType name="GrupoAwamotos\AbandonedCart\Logger\Handler"
                 type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/abandoned_cart.log</argument>
        </arguments>
    </virtualType>

    <!-- Use Monolog\Logger (not Framework\Logger\Monolog) so handlers do not merge into the global Magento logger. -->
    <virtualType name="GrupoAwamotos\AbandonedCart\Logger\Logger"
                 type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">abandoned_cart</argument>
            <argument name="handlers" xsi:type="array">
                <item name="file" xsi:type="object">GrupoAwamotos\AbandonedCart\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

</config>
