<?xml version="1.0"?>
<!--
  GrupoAwamotos SchemaEnhancer - adiciona schemas JSON-LD extras.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GrupoAwamotos_SchemaEnhancer" setup_version="1.0.0"/>
</config>
