<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_maintenance>
            <general>
                <enabled>0</enabled>
                <mode>maintenance</mode>
                <secret_key>awa2025</secret_key>
                <cookie_duration>72</cookie_duration>
                <whitelist_ips></whitelist_ips>
                <allowed_cms_pages>contact,faq,about-us</allowed_cms_pages>
                <allowed_routes>newsletter,contact</allowed_routes>
            </general>
            <maintenance>
                <title>Estamos em Manutenção</title>
                <message><![CDATA[<h1>🔧 Estamos melhorando a loja para você!</h1>
<p>A AWA Motos está passando por uma atualização para oferecer uma experiência ainda melhor.</p>
<p>Voltamos em breve!</p>]]></message>
                <show_countdown>0</show_countdown>
                <countdown_date></countdown_date>
            </maintenance>
            <coming_soon>
                <title>Em Breve</title>
                <message><![CDATA[<h1>🚀 Algo incrível está chegando!</h1>
<p>A AWA Motos está preparando uma novidade especial para você.</p>
<p>Cadastre-se para ser avisado quando lançarmos!</p>]]></message>
                <show_countdown>1</show_countdown>
                <countdown_date></countdown_date>
            </coming_soon>
            <design>
                <logo></logo>
                <background_type>gradient</background_type>
                <background_color>#1a237e</background_color>
                <background_gradient>#1a237e,#000428</background_gradient>
                <background_image></background_image>
                <background_video></background_video>
                <text_color>#ffffff</text_color>
                <custom_css></custom_css>
            </design>
            <newsletter>
                <enabled>1</enabled>
                <title>Seja avisado quando voltarmos!</title>
                <button_text>Cadastrar</button_text>
                <success_message>Obrigado! Você será avisado quando o site estiver no ar.</success_message>
            </newsletter>
            <social>
                <enabled>1</enabled>
                <facebook>https://www.facebook.com/awamotos</facebook>
                <instagram>https://www.instagram.com/awamotos/</instagram>
                <youtube>https://www.youtube.com/@awamotos7661</youtube>
                <whatsapp>5516997367588</whatsapp>
            </social>
            <contact>
                <show_info>1</show_info>
                <phone>(16) 3301-1890</phone>
                <whatsapp>(16) 99736-7588</whatsapp>
                <email>awamotos@awamotos.com.br</email>
            </contact>
        </grupoawamotos_maintenance>
    </default>
</config>
