<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="aiassistant" frontName="aiassistant">
            <module name="GrupoAwamotos_AiAssistant"/>
        </route>
    </router>
</config>
